{% set Tag = this.isLink() ? 'a' : 'button' %}
<{{ Tag }}
    {% if this.isLink() %}href="{{ this.href }}"{% endif %}
    class="{{ this.getBaseClasses() }}"
    {{ this.getAttributesString()|raw }}
>
    {% if this.icon %}
        <svg class="{{ this.getIconSize() }}" aria-hidden="true">
            <use href="{{ this.icon }}"></use>
        </svg>
    {% endif %}

    {% if this.label %}
        <span>{{ this.label }}</span>
    {% endif %}

    {% if this.trailingIcon %}
        <svg class="{{ this.getIconSize() }}" aria-hidden="true">
            <use href="{{ this.trailingIcon }}"></use>
        </svg>
    {% endif %}
</{{ Tag }}>
