{% if isLink() %}
    <a href="{{ href }}" class="{{ getContainerClasses() }}" {{ getAttributesString()|raw }}>
        {% block content %}{% endblock %}
    </a>
{% else %}
    <div class="{{ getContainerClasses() }}" {{ getAttributesString()|raw }}>
        {% block content %}{% endblock %}
    </div>
{% endif %}
