{% set Tag = isLink() ? 'a' : 'div' %}

<{{ Tag }}
    {% if isLink() %}href="{{ href }}"{% endif %}
    class="{{ getContainerClasses() }}"
    {{ getAttributesString()|raw }}
>
    {# Leading slot #}
    {% if leadingIcon or leadingAvatar %}
        <div class="{{ getLeadingClasses() }}">
            {% if leadingAvatar %}
                <img src="{{ leadingAvatar }}" alt="" class="{{ getLeadingAvatarClasses() }}">
            {% elseif leadingIcon %}
                <svg class="{{ getLeadingIconClasses() }}" aria-hidden="true">
                    <use href="{{ leadingIcon }}"></use>
                </svg>
            {% endif %}
        </div>
    {% endif %}

    {% block leading %}{% endblock %}

    {# Content slot #}
    <div class="{{ getContentClasses() }}">
        {% if headline %}
            <div class="{{ getHeadlineClasses() }}">
                {{ headline }}
            </div>
        {% endif %}

        {% block headline %}{% endblock %}

        {% if supporting %}
            <div class="{{ getSupportingClasses() }}">
                {{ supporting }}
            </div>
        {% endif %}

        {% block supporting %}{% endblock %}
    </div>

    {# Trailing slot #}
    {% if trailingIcon or trailing %}
        <div class="{{ getTrailingClasses() }}">
            {% if trailingIcon %}
                <svg class="{{ getTrailingIconClasses() }}" aria-hidden="true">
                    <use href="{{ trailingIcon }}"></use>
                </svg>
            {% else %}
                {{ trailing }}
            {% endif %}
        </div>
    {% endif %}

    {% block trailing %}{% endblock %}
</{{ Tag }}>
