{% set Tag = this.isLink() ? 'a' : 'div' %}

<{{ Tag }}
    {% if this.isLink() %}href="{{ this.href }}"{% endif %}
    class="{{ this.getContainerClasses() }}"
    {{ this.getAttributesString()|raw }}
>
    {# Leading slot #}
    {% if this.leadingIcon or this.leadingAvatar %}
        <div class="{{ this.getLeadingClasses() }}">
            {% if this.leadingAvatar %}
                <img src="{{ this.leadingAvatar }}" alt="" class="{{ this.getLeadingAvatarClasses() }}">
            {% elseif this.leadingIcon %}
                <svg class="{{ this.getLeadingIconClasses() }}" aria-hidden="true">
                    <use href="{{ this.leadingIcon }}"></use>
                </svg>
            {% endif %}
        </div>
    {% endif %}

    {% block leading %}{% endblock %}

    {# Content slot #}
    <div class="{{ this.getContentClasses() }}">
        {% if this.headline %}
            <div class="{{ this.getHeadlineClasses() }}">
                {{ this.headline }}
            </div>
        {% endif %}

        {% block headline %}{% endblock %}

        {% if this.supporting %}
            <div class="{{ this.getSupportingClasses() }}">
                {{ this.supporting }}
            </div>
        {% endif %}

        {% block supporting %}{% endblock %}
    </div>

    {# Trailing slot #}
    {% if this.trailingIcon or this.trailing %}
        <div class="{{ this.getTrailingClasses() }}">
            {% if this.trailingIcon %}
                <svg class="{{ this.getTrailingIconClasses() }}" aria-hidden="true">
                    <use href="{{ this.trailingIcon }}"></use>
                </svg>
            {% else %}
                {{ this.trailing }}
            {% endif %}
        </div>
    {% endif %}

    {% block trailing %}{% endblock %}
</{{ Tag }}>
